{% extends "base.html" %}
{% block title %}Sua lista de livros{% endblock %}
{% block content %}

<div class="result">

    <p>
        Sua lista de livros
    </p>

    {% if books %}

    <div class="table-responsive">
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th>AUTOR</th>
                    <th>TÍTULO</th>
                    <th>EDITORA</th>
                    <th>ANO</th>
                </tr>
            </thead>
            <tbody>

                {% for book_i in books %}

                <tr>
                    <td>{{ book_i.book_item.book.author }}</td>
                    <td>{{ book_i.book_item.book.title }}</td>
                    <td>{{ book_i.book_item.book.publisher }}</td>
                    <td>{{ book_i.book_item.book.year }}</td>
                </tr>

                <tr>
                    <td colspan="5" class="date" style="border-width: 0; padding: 0; padding-left: 15px; height: 20px;">Condição: {{ book_i.date_taken }} - {{ book_i.date_due }}</td>
                </tr>

                {% endfor %}

            </tbody>
        </table>
    </div>
    <br>
    {% else %}
    <p class="error">
        No momento você não tem livros
    </p>
    {% endif %}

</div>

{% endblock %}