{% extends "base.html" %}
{% block title %}Detalhes do livro{% endblock %}
{% block content %}

<div class="result">
    {% if book %}
    <div class="table-responsive">
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th>TÍTULO</th>
                    <th>AUTOR</th>
                    <th>EDITORA</th>
                    <th>ANO</th>
                    <th>TAGS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.publisher }}</td>
                    <td>{{ book.year }}</td>
                    <td>
                        {% with book as object %}
                        {% include "tags/show_tags.html" %}
                        {% endwith %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    {% else %}
    <p class="error">
        Nenhum registro encontrado
    </p>
    {% endif %}
</div>

<div class="login">
    <a href="#" onclick="history.back()">Voltar</a>
</div>

{% endblock %}